<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase.">
    <title>Boxe-Depozitare.ro</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168214669-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168214669-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WN4H59X');</script>
    <!-- End Google Tag Manager -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KP1FYSNRL7');
    </script>

    <meta property="og:url" content="https://www.boxe-depozitare.ro/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="350x Boxe Depozitare de diferinte dimensiuni aflate in interiorul halelor" />
    <meta property="og:description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase. " />
    <meta property="og:image" content="https://www.boxe-depozitare.ro/images/facebook-preview.jpg" />
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:site_name" content="boxe-depozitare" />

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "boxe-depozitare.ro",
            "item": "https://www.boxe-depozitare.ro/"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "galerie",
            "item": "https://www.boxe-depozitare.ro/galerie"
          }]
        }
    </script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://www.boxe-depozitare.ro/galerie" rel="canonical" />

    <link rel="preload" href="/fonts/AvenirNextLTPro-Regular.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-It.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Demi Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Medium.otf" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="/desktop/stylesheets/partials-12042021.css">
    <link rel="stylesheet" href="/desktop/stylesheets/galerie-12042021.css">
    <link rel="stylesheet" href="/icons/icons26042021.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN4H59X" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%-include('partials/navbar')%>
        <%-include('partials/cookie')%>
            <main>
                <section id="map">
                    <div>
                        <a href="/">Acasa</a>
                        <span class="icon-arrow"></span>
                        <p>Galerie</p>
                    </div>
                </section>

                <section id="one">
                    <h1>Galerie</h1>
                    <div id="gallery">

                        <div class="item">
                            <img src="/images/galerie1.webp" alt="boxe pentru depozitare">
                            <div class="overlay">
                                <span class="icon-magnifying-glass"></span>
                            </div>
                        </div>

                        <div class="item">
                            <img src="/images/galerie2.webp" alt="boxe pentru depozitare">
                            <div class="overlay">
                                <span class="icon-magnifying-glass"></span>
                            </div>
                        </div>

                        <div class="item">
                            <img src="/images/galerie3.webp" alt="boxe pentru depozitare">
                            <div class="overlay">
                                <span class="icon-magnifying-glass"></span>
                            </div>
                        </div>

                        <div class="item">
                            <img src="/images/galerie4.webp" alt="boxe pentru depozitare">
                            <div class="overlay">
                                <span class="icon-magnifying-glass"></span>
                            </div>
                        </div>

                        <div class="item">
                            <img src="/images/galerie5.webp" alt="boxe pentru depozitare">
                            <div class="overlay">
                                <span class="icon-magnifying-glass"></span>
                            </div>
                        </div>

                        <div class="item">
                            <img src="/images/galerie6.webp" alt="boxe pentru depozitare">
                            <div class="overlay">
                                <span class="icon-magnifying-glass"></span>
                            </div>
                        </div>


                    </div>
                </section>

            </main>

            <div id="galleryModal" class="hidden">
                <div class="content">
                    <span class="icon-arrow left" id="prevImg"></span>
                    <div class="image">
                        <img src="/images/galerie1.webp" alt="imagine marita din galerie">
                        <span class="icon-x_mark"></span>
                    </div>
                    <span class="icon-arrow right" id="nextImg"></span>
                </div>
            </div>

            <%-include('partials/footer')%>

                <script src="/desktop/scripts/galerie-15012021.js"></script>
                <script src="/desktop/scripts/partials-15012021.js"></script>
</body>

</html>