<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase.">
    <title>Boxe-Depozitare.ro</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168214669-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168214669-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WN4H59X');</script>
    <!-- End Google Tag Manager -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KP1FYSNRL7');
    </script>

    <meta property="og:url" content="https://www.boxe-depozitare.ro/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="350x Boxe Depozitare de diferinte dimensiuni aflate in interiorul halelor" />
    <meta property="og:description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase. " />
    <meta property="og:image" content="https://www.boxe-depozitare.ro/images/facebook-preview.jpg" />
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:site_name" content="boxe-depozitare" />

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "boxe-depozitare.ro",
            "item": "https://www.boxe-depozitare.ro/"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "preturi",
            "item": "https://www.boxe-depozitare.ro/preturi"
          }]
        }
    </script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://www.boxe-depozitare.ro/preturi" rel="canonical" />

    <link rel="preload" href="/fonts/AvenirNextLTPro-Regular.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-It.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Demi Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Medium.otf" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="/desktop/stylesheets/partials-12042021.css">
    <link rel="stylesheet" href="/desktop/stylesheets/preturi-12042021.css">
    <link rel="stylesheet" href="/icons/icons26042021.css">
</head>

<body onload="bindSmoothScroll()">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN4H59X" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%-include('partials/navbar')%>
        <%-include('partials/cookie')%>
            <%-include('partials/formConfirm.ejs')%>

                <main>
                    <section id="map">
                        <div>
                            <a href="/">Acasa</a>
                            <span class="icon-arrow"></span>
                            <p>Preturi</p>
                        </div>
                    </section>

                    <section id="one">
                        <h1 class="section-header">Costuri si dimensiuni boxe</h1>
                        <h2 class="section-sub">Fie că te muți sau iți renovezi casa, sau pur și simplu nu mai ai destul
                            spațiu
                            acasă
                            sau la birou și
                            vrei să știi că lucrurile tale sunt depozitate în condiții de siguranță, cea mai bună
                            alegere este
                            BoxeDepozitare.ro</h2>
                        <div class="product-flex">

                            <div class="item">
                                <div class="wrap">
                                    <h4>Boxă Model 1 - Extra Large</h4>
                                    <div class="content">
                                        <img src="/images/box_500.webp"
                                            alt="poza cu o boxa de depozitare, 500 pe 200 de centimetri">
                                        <div class="details">
                                            <div class="specs">
                                                <div>
                                                    <h3>Dimensiuni:</h3>
                                                    <p>Lungime: 600cm</p>
                                                    <p>Latime: 200cm</p>
                                                    <p>Inaltime: 250cm</p>
                                                </div>
                                                <div>
                                                    <h3>Volum:</h3>
                                                    <p>30m3</p>
                                                    <h3>Depozitare:</h3>
                                                    <p>Mobila si bunuri din 4 – 5 camere</p>
                                                </div>
                                            </div>
                                            <p class="price">600 lei / lună</p>
                                            <a href="#preturi_form"><button
                                                    class="action-button">Selectează</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="wrap">
                                    <h4>Boxă Model 2 - Large</h4>
                                    <div class="content">
                                        <img src="/images/box_400.webp"
                                            alt="poza cu o boxa de depozitare, 400 pe 200 de centimetri">
                                        <div class="details">
                                            <div class="specs">
                                                <div>
                                                    <h3>Dimensiuni:</h3>
                                                    <p>Lungime: 500cm</p>
                                                    <p>Latime: 200cm</p>
                                                    <p>Inaltime: 250cm</p>
                                                </div>
                                                <div>
                                                    <h3>Volum:</h3>
                                                    <p>25m3</p>
                                                    <h3>Depozitare:</h3>
                                                    <p>Mobila si bunuri din 3 – 4 camere</p>
                                                </div>
                                            </div>
                                            <p class="price">500 lei / lună</p>
                                            <a href="#preturi_form"><button
                                                    class="action-button">Selectează</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="wrap">
                                    <h4>Boxă Model 3 - Medium</h4>
                                    <div class="content">
                                        <img src="/images/box_300.webp"
                                            alt="poza cu o boxa de depozitare, 300 pe 200 de centimetri">
                                        <div class="details">
                                            <div class="specs">
                                                <div>
                                                    <h3>Dimensiuni:</h3>
                                                    <p>Lungime: 400cm</p>
                                                    <p>Latime: 200cm</p>
                                                    <p>Inaltime: 250cm</p>
                                                </div>
                                                <div>
                                                    <h3>Volum:</h3>
                                                    <p>20m3</p>
                                                    <h3>Depozitare:</h3>
                                                    <p>Mobila si bunuri din 2 – 3 camere</p>
                                                </div>
                                            </div>
                                            <p class="price">400 lei / lună</p>
                                            <a href="#preturi_form"><button
                                                    class="action-button">Selectează</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="wrap">
                                    <h4>Boxă Model 4 - Small</h4>
                                    <div class="content">
                                        <img src="/images/box_200.webp"
                                            alt="poza cu o boxa de depozitare, 200 pe 200 de centimetri">
                                        <div class="details">
                                            <div class="specs">
                                                <div>
                                                    <h3>Dimensiuni:</h3>
                                                    <p>Lungime: 200cm</p>
                                                    <p>Latime: 200cm</p>
                                                    <p>Inaltime: 250cm</p>
                                                </div>
                                                <div>
                                                    <h3>Volum:</h3>
                                                    <p>10m3</p>
                                                    <h3>Depozitare:</h3>
                                                    <p>Mobila si bunuri din 1 – 2 camere</p>
                                                </div>
                                            </div>
                                            <p class="price">200 lei / lună</p>
                                            <a href="#preturi_form"><button
                                                    class="action-button">Selectează</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <h4>*Se achită minim o lună + o lună garanție (care se va restitui la finalul colaborării), fară
                            alte
                            costuri ascunse sau suplimentare pe toata perioada colaborarii.</h4>
                        <h4>*Rezilierea contractului se poate face oricând doriți dvs.</h4>

                    </section>


                    <section id="two">

                        <h3 class="section-header">Materiale de impachetat</h3>
                        <!--fost h1! stylesheet neactualizat-->
                        <p class="section-sub">Fie că te muți sau iți renovezi casa, sau pur și simplu nu mai ai destul
                            spațiu
                            acasă
                            sau la birou și vrei sa știi că lucrurile tale sunt depozitate în condiții de siguranță, cea
                            mai
                            bună
                            alegere este BoxeDepozitare.ro</p>
                        <div class="product-flex">

                            <div class="item">
                                <div class="wrap">
                                    <h4>Office Box</h4>
                                    <div class="content">
                                        <img src="/images/box_500.webp"
                                            alt="Cutie clasica de carton pentru organizarea obiectelor">
                                        <div class="details">
                                            <div class="specs">
                                                <div>
                                                    <h3>Dimensiuni:</h3>
                                                    <p>Lungime: 500cm</p>
                                                    <p>Latime: 200cm</p>
                                                    <p>Inaltime: 250cm</p>
                                                </div>
                                                <div>
                                                    <h3>Volum:</h3>
                                                    <p>25m3</p>
                                                    <h3>Depozitare:</h3>
                                                    <p>Mobila si bunuri din 3 – 4 camere</p>
                                                </div>
                                            </div>
                                            <p class="price">2.00 lei / m2</p>
                                            <a href="#preturi_form"><button
                                                    class="action-button">Selectează</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="wrap">
                                    <h4>Banda adeziva</h4>
                                    <div class="content">
                                        <img src="/images/box_400.webp"
                                            alt="Banda adeziva utilizata pentru o impachetare usoara si rapida">
                                        <div class="details">
                                            <div class="specs">
                                                <div>
                                                    <h3>Dimensiuni:</h3>
                                                    <p>Lungime: 400cm</p>
                                                    <p>Latime: 200cm</p>
                                                    <p>Inaltime: 250cm</p>
                                                </div>
                                                <div>
                                                    <h3>Volum:</h3>
                                                    <p>20m3</p>
                                                    <h3>Depozitare:</h3>
                                                    <p>Mobila si bunuri din 2 – 3 camere</p>
                                                </div>
                                            </div>
                                            <p class="price">2.00 lei / m2</p>
                                            <a href="#preturi_form"><button
                                                    class="action-button">Selectează</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="wrap">
                                    <h4>Folie cu bule de aer</h4>
                                    <div class="content">
                                        <img src="/images/box_300.webp"
                                            alt="Folie cu bule de aer utilizata pentru a preveni daunele accidentale asupra obiectelor">
                                        <div class="details">
                                            <div class="specs">
                                                <p class="description">
                                                    Se poate folosi pentru impachetarea articolelor fragile. Bulele
                                                    umplute cu
                                                    aer
                                                    apara produsele de socuri si lovituri.
                                                </p>
                                            </div>
                                            <p class="price">2.00 lei / m2</p>
                                            <a href="#preturi_form"><button
                                                    class="action-button">Selectează</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="wrap">
                                    <h4>Folie stretch</h4>
                                    <div class="content">
                                        <img src="/images/box_200.webp"
                                            alt="Folie stretch utilizata pentru impachetare">
                                        <div class="details">
                                            <div class="specs">
                                                <div>
                                                    <h3>Dimensiuni:</h3>
                                                    <p>Lungime: 200cm</p>
                                                    <p>Latime: 200cm</p>
                                                    <p>Inaltime: 250cm</p>
                                                </div>
                                                <div>
                                                    <h3>Volum:</h3>
                                                    <p>10m3</p>
                                                    <h3>Depozitare:</h3>
                                                    <p>Mobila si bunuri din 1 – 2 camere</p>
                                                </div>
                                            </div>
                                            <p class="price">2.00 lei / m2</p>
                                            <a href="#preturi_form"><button
                                                    class="action-button">Selectează</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>

                    <section id="three">

                        <div class="container">
                            <h3>Caracteristicile principale ale boxelor noastre</h3>
                            <p>
                                Boxele de depozitoare sunt construite in interiorul halelor, sunt din lemn ignifug
                                (osb), iar
                                jos am turnat ciment, apoi nisip, apoi osb. Circularea aerului este facuta intr-un mod
                                natural;
                                nu exista umezeala, mucegai, mirosuri etc. Deratizarea este facuta lunar!</p>

                            <div id="diagram">

                                <img src="/images/section_view.webp"
                                    alt="poza cu sectiunea unei boxe. fiecare boxa are urmatoarea structura: nisip si beton la baza, constructie din lemn ignifug si sunt bine aerisite">

                                <div class="description">
                                    <div class="content">
                                        <h4>Lemn ignifug</h4>
                                        <p></p>
                                        <div class="line"><span class="icon-arrow"></span></div>
                                    </div>
                                </div>

                                <div class="description">
                                    <div class="content">
                                        <h4>Nisip</h4>
                                        <p></p>
                                        <div class="line"><span class="icon-arrow"></span></div>
                                    </div>
                                </div>

                                <div class="description">
                                    <div class="content">
                                        <h4>Aerisere naturală</h4>
                                        <p></p>
                                        <div class="line">
                                            <div class="special-dot">
                                                <div class="mid-dot">
                                                    <div class="core-dot"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="description">
                                    <div class="content">
                                        <h4>Beton</h4>
                                        <p></p>
                                        <div class="line"><span class="icon-arrow"></span></div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </section>


                    <section id="four">
                        <div class="container">
                            <h3>Contactează-ne</h3>
                            <p>Vrem să vă ajutăm în cel mai bun mod posibil.</p>
                            <form action="/email" method="POST" id="preturi_form">
                                <label for="preturi_nume">Nume si prenume / Name and surname</label>
                                <input required id="preturi_nume" type="text" name="nume" placeholder="Nume / Prenume">
                                <label for="preturi_telefon">Telefon / Phone number</label>
                                <input required id="preturi_telefon" type="tel" name="telefon" placeholder="Telefon">
                                <label for="preturi_email">Email</label>
                                <input required id="preturi_email" type="email" name="email" placeholder="Email">
                                <label for="preturi_txt">Scrie un mesaj / Write a message</label>
                                <textarea id="preturi_txt" name="mesaj" cols="30" rows="10"
                                    placeholder="Mesaj"></textarea>
                                <button class="action-button">Trimite cerere</button>
                            </form>
                        </div>
                        <img src="/images/box_bottom.webp" alt="Poza decorativa cu o boxa de lemn pentru depozitare">
                    </section>
                </main>

                <%-include('partials/footer')%>

                    <script src="/desktop/scripts/preturi-15012021.js"></script>
                    <script src="/desktop/scripts/partials-15012021.js"></script>
</body>

</html>