<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase.">
    <title>Boxe-Depozitare.ro</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168214669-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168214669-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WN4H59X');</script>
    <!-- End Google Tag Manager -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KP1FYSNRL7');
    </script>

    <meta property="og:url" content="https://www.boxe-depozitare.ro/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="350x Boxe Depozitare de diferinte dimensiuni aflate in interiorul halelor" />
    <meta property="og:description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase. " />
    <meta property="og:image" content="https://www.boxe-depozitare.ro/images/facebook-preview.jpg" />
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:site_name" content="boxe-depozitare" />

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "boxe-depozitare.ro",
            "item": "https://www.boxe-depozitare.ro/"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "termeni-si-conditii",
            "item": "https://www.boxe-depozitare.ro/termeni-si-conditii"
          }]
        }
    </script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://www.boxe-depozitare.ro/termeni-si-conditii" rel="canonical" />

    <link rel="preload" href="/fonts/AvenirNextLTPro-Regular.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-It.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Demi Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Medium.otf" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="/desktop/stylesheets/partials-12042021.css">
    <link rel="stylesheet" href="/desktop/stylesheets/tc-12042021.css">
    <link rel="stylesheet" href="/icons/icons26042021.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN4H59X" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%-include('partials/navbar')%>
        <main>
            <h1 class="one">TERMENI SI CONDITII GDPR</h1>
            <p>Conditii Generale pentru utilizarea site-ului <span class="highlight">www.boxe-depozitare.ro</span></p>

            <h3 class="two">ACCEPTAREA CONDITIILOR</h3>

            <p>Prin accesarea acestui site web si/sau a oricarei pagini a acestuia sunteti de acord cu aceste
                conditii de utilizare. Daca nu sunteti de acord cu acesti termeni si conditii de utilizare, nu
                accesati acest site.
            </p>
            <h3 class="two">DESCRIEREA SERVICIILOR</h3>
            <p>Siteul nostru va pune la dispozitie informatiile din acest site web in scop informativ general si nu
                garanteaza exactitatea lor la un moment dat, desi se va incerca pe cat posibil ca la publicarea lor
                pe site toate informatiile sa fie exacte.
            </p>

            <h3 class="two">INTRODUCERE</h3>
            <p>Prezentele Conditii Generale definesc conditiile de utilizare a site-ului <span
                    class="highlight">www.boxe-depozitare.ro</span> de
                catre potentialii vizitatori sau clienti. Accesând si navigând pe acest site, acceptati termenii de
                utilizare descrisi în continuare.
            </p>

            <h3 class="two">DREPTURILE ASUPRA CONTINUTULUI SITE-ULUI</h3>
            <p>SMART STORAGE SRL, nu va transfera titlul de proprietate asupra aplicatiilor software .</p>
            <p>SMART STORAGE SRL detine drepturi complete si depline asupra titlului de proprietate si prin aceasta
                toate drepturile de autor si cele brevetate. Nu aveti dreptul sa redistribuiti, vindeti,
                decompilati, dezasamblati aplicatia software într-o forma perceptibila de catre oameni.
            </p>
            <p>Toate informatiile, produsele sau aplicatiile continute în acest site sunt proprietatea SMART STORAGE
                SRL, care îsi rezerva dreptul de a modifica continutul si/sau structura site-ului în orice moment si
                fara nici o informare prealabila.
            </p>
            <p>Întregul continut al site-ului <span class="highlight">www.boxe-depozitare.ro</span> este protejat prin
                legea drepturilor de autor,
                toate drepturile fiind rezervate. Toate drepturile referitoare la pagini, continutul si prezentarea
                site-ului sunt detinute de SMART STORAGE SRL. Este interzisa copierea, modificarea, afisarea,
                distribuirea, transmiterea, publicarea, comercializarea, licentierea, crearea unor materiale
                derivate sau utilizarea continutului site-ului în orice scop fara confirmarea scrisa din partea
                SMART STORAGE SRL.
            </p>
            <p>Accesul si utilizarea paginii <span class="highlight">www.boxe-depozitare.ro</span> sunt gratuite si au
                scopul de a veni in ajutorul
                utilizatorilor pentru a gasi informatiile necesare în cel mai usor si rapid mod posibil, conform
                cerintelor fiecaruia.
            </p>
            <p>Informatiile prezente pe <span class="highlight">www.boxe-depozitare.ro</span> sunt de interes general si
                sunt puse la dispozitia
                utilizatorilor în mod gratuit. Prin termenul „utilizator” al acestei pagini se întelege orice
                persoana fizica sau juridica care va accesa pagina. Puteti copia si tipari continutul paginii
                <span class="highlight">www.boxe-depozitare.ro</span> pentru folosinta dumneavoastra personala, fara
                intentii comerciale. În orice
                alte situatii, continutul <span class="highlight">www.boxe-depozitare.ro</span> nu poate fi reprodus,
                modificat sau exploatat fara
                consimtamântul explicit al reprezentantilor <span class="highlight">www.boxe-depozitare.ro</span>.
            </p>
            <h3 class="two">NEANGAJAREA RASPUNDERII</h3>

            <p>Continutul informatiilor se refera la descrierea într-un anumit grad de detaliere a activitatilor,
                produselor si serviciilor SMART STORAGE SRL. SMART STORAGE SRL nu va acorda nici o garantie
                referitoare la:
            </p>
            <p>
            <ol>
                <li>evitarea utilizarii anevoioase sau întreruperii în utilizare a site-ului;
                </li>
                <li>neafectarea în sens negativ a altor sisteme prin utilizarea site-ului;
                </li>
                <li>inexistenta pe site-ul pus la dispozitie a virusilor sau alte componente care ar putea dauna
                    utilizatorilor.</li>
            </ol>
            </p>
            <p>Astfel, SMART STORAGE SRL nu poate fi responsabila pentru nici un fel de daune directe sau indirecte
                produse prin utilizarea site-ului sau.
            </p>
            <p>Toate informatiile prezentate pe site cu privire la produsele <span
                    class="highlight">www.boxe-depozitare.ro</span>, preturi,
                informatii, campanii si promotii de marketing, aspecte tehnice, sunt prezentate cu titlu informativ.
                Nimic din continutul site-ului <span class="highlight">www.boxe-depozitare.ro</span> nu poate constitui
                o oferta ferma de a
                contracta si nu poate angaja raspunderea Amigio în lipsa unor acorduri ulterioare.
            </p>
            <p>Continutul paginii web <span class="highlight">www.boxe-depozitare.ro</span>, a informatiilor si a altor
                materiale prezentate de
                Comunitatea <span class="highlight">www.boxe-depozitare.ro</span> nu reprezinta o consultatie juridica
                în sensul Legii nr. 51/1995.
            </p>
            <p>GDPR este un set de reguli bazat pe principii complexe, care este deschis la interpretare si cotine,
                de asemenea, numeroase domenii în care statele membre sunt invitate sa intervina. În prezent exista
                foarte putine îndrumari cu privire la implementarea GDPR si este posibil ca Autoritatile de
                Supraveghere sa aiba puncte de vedere diferite fata de cele exprimate în acest ?ablon. În ciuda
                eforturilor noastre de a oferi cele mai bune servicii, nu putem anticipa cu exactitate modul în care
                Autoritatea de Supraveghere sau instan?ele de judecata vor interpreta Regulamentul.
            </p>

            <p><span class="highlight">www.boxe-depozitare.ro</span> nu face nicio declaratie, promisiune sau garantie
                cu privire la exactitatea,
                exhaustivitatea sau caracterul adecvat al prezentului continut, al îndrumarilor si a consultantei,
                nu îsi asuma nicio obligatie de rezultat sau diligenta fata de nicio persoana, exclud în mod expres
                si neaga raspunderea pentru orice cost, pierdere sau daunele suferite ca urmare a utilizarii
                continutului.
            </p>

            <h3 class="two">OBIECTIVUL CONTINUTULUI SITE-ULUI</h3>
            <p>Obiectivul continutului site-ului este de a transmite informatii actualizate si exacte.
            </p>
            <p>SMART STORAGE SRL nu poate garanta ca prezentele pagini nu contin erori, si asigura ca va depune
                toate diligentele pentru realizarea unei informari corecte si remedierea eventualelor erori.
            </p>
            <p>Orice persoana care doreste sa-si procure unul din serviciile sau produsele prezentate în site este
                rugata sa contacteze SMART STORAGE SRL prin unul din mijloacele afisate în pagina de Contact a
                site-ului, pentru a se informa atât asupra disponibilitatii serviciului sau produsului în cauza cât
                si asupra conditiilor contractuale, tarifelor si informatiilor tehnice sau de alta natura.
            </p>

            <h3 class="two">INFORMATII PERSONALE</h3>
            <p>Când prin intermediul prezentului site va sunt solicitate informatii, aceasta are ca scop
                identificarea dumneavoastra sau posibilitatea de a va contacta. Acest lucru este cu atât mai necesar
                în cazul folosirii aplicatiilor disponibile pe site.
            </p>

            <p>Natura informatiilor solicitate se refera în special la date personale (nume, adresa, numere de
                telefon), adresa de e-mail, modul în care sunt utilizate sau intentioneaza sa fie utilizate
                produsele si/sau serviciile SMART STORAGE SRL, dar poate include si alte informatii aflate în
                strânsa legatura cu utilizarea serviciilor si/sau produselor solicitate.
            </p>
            <p>Cu scopul de a raspunde mai bine nevoilor si întrebarilor utilizatorilor site-ului, informatiile
                solicitate prin intermediul acestui site vor face obiectul unei stocari si prelucrari electronice.
            </p>

            <h3 class="two">LEGATURA CU ALTE SITE-URI</h3>
            <p>Prezentul site poate contine legaturi sau trimiteri catre alte site-uri considerate de SMART STORAGE
                SRL utile în legatura cu continutul site-ului sau si care nu se afla sub controlul sau îndrumarea
                sa. În cazul utilizarii acestor legaturi sau trimiteri se vor aplica conditiile generale de
                utilizare corespunzatoare acelor site-uri.
            </p>
            <p>SMART STORAGE SRL nu poate garanta/controla actualitatea/exactitatea informatiilor prezente pe
                site-urile unor terti, la care se face trimitere de pe site-ul sau.
            </p>
            <h3 class="two">INFORMATIILE OFERITE PRIN INTERMEDIUL SITE-ULUI</h3>
            <p>Orice persoana care viziteaza site-ul <span class="highlight">www.boxe-depozitare.ro</span> si care ofera
                date sau informatii cu
                caracter personal prin intermediul acestui site îsi manifesta acordul în mod expres si neechivoc
                pentru urmatoarele: prelucrarea acestor date si informatii personale de catre SMART STORAGE SRL;
                transmiterii de materiale promotionale specifice operatiunilor de marketing direct; solutionarea de
                catre SMART STORAGE SRL a cererilor, întrebarilor si reclamatiilor adresate (a se vedea pagina
                Contact din site); alte activitati întreprinse de SMART STORAGE SRL si permise de lege, ce nu fac
                obiectul unei aprobari din partea destinatarului.
            </p>
            <p>SMART STORAGE SRL va pastra confidentialitatea acestor informatii.</p>
            <p>Utilizarea în continuare a acestui site constituie acordul expres si neechivoc al dumneavoastra în
                conformitate cu prevederile legii 677/2001 si directivelor GDPR pentru protectia persoanelor cu
                privire la prelucrarea datelor cu caracter personal si libera circulatie a acestor date.
            </p>
            <p>Pentru orice nelamurire în legatura cu exercitarea drepturilor dumneavoastra referitoare la
                utilizarea site-ului si la protectia utilizarii va rugam sa ne contactati prin intermediul sectiunii
                Contact din site.
            </p>



            <h2 class="one">
                Politică privind fișierele cookies
            </h2>
            <p>Prezenta Politica privind fișierele cookies se aplică tuturor utilizatorilor paginii de internet
                www.boxe-depozitare.ro. Informațiile prezentate în continuare au ca scop informarea utilizatorilor
                acestei pagini de internet cu privire la plasarea, utilizarea și administrarea cookie-urilor de către
                SMART STORAGE SRL în contextul navigării utilizatorilor pe această pagină de internet.</p>

            <h3 class="two">Ce sunt cookie-urile?</h3>
            <p>Folosim termenul „cookie”-uri pentru a ne referi la modulele cookie și la tehnologiile similare prin
                intermediul cărora pot fi colectate informații în mod automat.</p>
            <p>Un „Internet Cookie” (termen cunoscut și sub denumirea de „browser cookie” sau „HTTP cookie” ori
                „cookie”) reprezintă un fișier de mici dimensiuni, format din litere și numere, care va fi stocat pe
                computerul, terminalul mobil sau pe alte echipamente ale unui utilizator prin intermediul cărora se
                accesează internetul.</p>
            <p>Cookie-urile sunt instalate prin solicitarea emisă de un web-server către un browser (de ex.: Internet
                Explorer, Firefox, Chrome). Cookie-urile odată instalate au o durată de existență determinată, rămânând
                „pasive”, în sensul că nu conțin programe software, viruși sau spyware și nu vor accesa informațiile de
                pe hard driverul utilizatorului pe al cărui echipament au fost instalate.</p>
            <p>Un cookie este format din două părți:
            <ol>
                <li>numele cookie-ului</li>
                <li>conținutul sau valoarea cookie-ului</li>
            </ol>
            </p>
            <p>Din punct de vedere tehnic, doar web-serverul care a trimis cookie-ul îl poate accesa din nou în momentul
                în care un utilizator se întoarce pe pagina de internet asociată web-serverului respectiv.</p>
            <h3 class="two">Pentru ce scopuri sunt utilizate cookie-urile prin intermediul acestei pagini de internet:
            </h3>
            <p>
                Cookie-urile sunt utilizate pentru a furniza utilizatorilor acestei pagini de internet o experiență mai
                bună de navigare și servicii adaptate nevoilor și interesului fiecărui utilizator în parte și anume
                pentru:
            <ol>
                <li>îmbunătățirea utilizării acestei pagini de internet, inclusiv prin identificarea oricăror erori care
                    apar în timpul vizitării/utilizării acesteia de către utilizatori</li>
                <li>furnizarea de statistici anonime cu privire la modul în care este utilizată această pagină de
                    internet către SMART STORAGE SRL, în calitate de deținător al acestei pagini de internet</li>
                <li>anticiparea unor eventuale bunuri care vor fi în viitor puse la dispoziția utilizatorilor prin
                    intermediul acestei pagini de internet, în funcție de serviciile / produsele accesate.</li>
            </ol>
            </p>
            <p>Pe baza feedback-ului transmis prin cookie-uri în legătură cu modul în care se utilizează această pagină
                de internet, SMART STORAGE SRL poate adopta măsuri pentru ca această pagină de internet să fie mai
                eficientă și mai accesibilă pentru utilizatori.</p>
            <p>Astfel, utilizarea cookie-urilor permite memorarea anumitor setări/preferințe stabilite de către
                utilizatorii acestei pagini de internet, precum:

            <ol>
                <li>Analiza si optimizarea performantei paginii de internet</li>
                <li>Optimizarea relevantei paginii de internet in mediul online</li>
                <li>Analizarea traficului paginii de internet</li>
            </ol>
            </p>
            <h3 class="two">Care este durata de viață a cookie-urilor?</h3>
            <p>Durata de viață a cookie-urilor poate varia semnificativ, depinzând de scopul pentru care este plasat.
                Există următoarele categorii de cookie-uri care determină și durata de viață a acestora:
            <ol>
                <li>Cookie-uri de sesiune – Un „cookie de sesiune” este un cookie care este șters automat când
                    utilizatorul își închide browserul.</li>
                <li>Cookie-uri persistente sau fixe – Un „cookie persistent” sau „fix” este un cookie care rămâne stocat
                    în terminalul utilizatorului până când atinge o anumită dată de expirare (care poate fi în câteva
                    minute, zile sau câțiva ani în viitor) sau până la ștegerea acestuia de către utilizator în orice
                    moment prin intermediul setărilor browserului.</li>
            </ol>
            </p>
            <h3 class="two">
                Ce cookie-uri sunt folosite prin intermediul acestei pagini de internet:
            </h3>
            <p>Prin utilizarea/vizitarea paginii de internet pot fi plasate următoarele cookie-uri:
            <ul>
                <li>Cookie-uri de performanță a paginii de internet</li>
                <li>Cookie-uri de analiză a utilizatorilor</li>
                <li>Cookie-uri pentru geotargetting</li>
                <li>Cookie-uri pentru publicitate</li>
                <li>Cookie-uri ale furnizorilor de publicitate</li>
            </ul>
            </p>

            <h3 class="two">Cookie-uri de performanță</h3>
            <p>Prin acest tip de cookie-uri sunt memorate preferințele utilizatorului acestei pagini de internet, astfel
                încât setarea din nou a preferințelor în cazul vizitării ulterioare a paginii de internet nu mai este
                necesară.</p>

            <h3 class="two">Cookie-uri de analiză a utilizatorilor</h3>
            <p>Aceste cookie-uri ne informează dacă un anumit utilizator al paginii de internet a mai vizitat/utilizat
                această pagină de internet anterior. Aceste cookie-uri sunt utilizate doar în scopuri statistice.</p>

            <h3 class="two">Cookie-uri pentru geotargetting</h3>
            <p>Aceste cookie-uri sunt utilizate de către un soft care stabilește țara de proveniență a utilizatorului
                paginii de internet. Vor fi primite aceleași reclame indiferent de limba selectată.</h3>
            </p>

            <h3 class="two">Cookie-uri pentru publicitate</h3>
            <p>Aceste cookie-uri permit aflarea vizualizării de către un utilizator a unei reclame online, tipul
                acesteia și timpul scurs de la momentul vizualizării respectviului mesaj publicitar. Ca atare, astfel de
                cookie-uri sunt folosite pentru targetarea publicității online. Aceste cookie-uri sunt anonime, stocând
                informații despre contentul vizualizat, nu și despre utilizatori.</p>

            <h3 class="two">Ce tip de informații sunt stocate și accesate prin intermediul cookie-urilor?</h3>
            <p>Cookie-urile păstrează informații într-un fișier text de mici dimensiuni care permit recunoașterea
                browserului. Această pagină de internet recunoaște browserul până când cookie-urile expiră sau sunt
                șterse.</p>


            <h3 class="two">Particularizarea setările browserului în ceea ce privește cookie-urile</h3>
            <p>În cazul în care utilizarea cookie-urilor nu este deranjantă iar calculatorul sau echipamentul tehnic
                utilizat pentru navigarea pe această pagină de internet este folosit doar de către dumneavoastră, pot fi
                setate termene lungi de expirare pentru stocrarea istoricului de navigare.
                În cazul în care calculatorul sau echipamentul tehnic utilizat pentru navigarea pe această pagină de
                internet este folosit de mai multe persoane, poate fi luată în considerare setarea pentru ștergerea
                datelor individuale de navigare de fiecare dată când browserul este închis.
            </p>

            <h3 class="two">Cum pot fi oprite cookie-urile? </h3>
            <p>Dezactivarea și refuzul de a primi cookie-uri pot face această pagină de internet dificil de vizitat,
                atrăgând după sine limitări ale posibilităților de utilizare ale acesteia.</p>
            <p>Utilizatorii își pot configura browserul să respingă fișierele cookie sau să fie acceptate cookie-uri de
                la o pagină de internet anume.
                Toate browserele moderne oferă posibilitatea de a schimba setările cookie-urilor. Aceste setări pot fi
                accesate, ca regulă, în secțiunea „opțiuni” sau în meniul de „preferințe” al browserului tău.
            </p>

            <p>Totuși, refuzarea sau dezactivarea cookie-urilor nu înseamnă că nu veți mai primi publicitate online – ci
                doar ca aceasta nu va fi adaptată preferințelor și interesele dumneavoastră, evidențiate prin
                comportamentul de navigare.
                Pentru a înțelege aceste setări, următoarele linkuri pot fi folositoare:
            <ol>
                <li><a
                        href="https://support.microsoft.com/en-us/topic/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d">Setari
                        cookie in internet explorer / microsoft edge</a></li>
                <li><a
                        href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=en-US">Setari
                        cookie in Firefox</a></li>
                <li><a href="https://support.apple.com/ro-ro/guide/safari/sfri11471/mac">Setari cookie in Safari</a>
                </li>
                <li><a href="https://support.google.com/chrome/answer/95647">Setari cookie in Google Chrome</a></li>
                <li><a
                        href="https://www.samsung.com/uk/support/mobile-devices/what-are-cookies-and-how-do-i-enable-or-disable-them-on-my-samsung-galaxy-device/">Setari
                        cookie Samsung Internet</a></li>
            </ol>
            </p>

            <p>
                Pentru orice întrebări suplimentare cu privire la modul în sunt utilizate cookie-urile prin intermediul
                acestei pagini de internet, vă rugăm să vă adresați la: boxedepozitare@gmail.com
            </p>


        </main>

        <%-include('partials/footer')%>
            <script src="/desktop/scripts/partials-15012021.js"></script>
</body>

</html>