<div id="cookie-prompt">
    <div>
        <div>
            <h4>Acest website foloseste cookie-uri</h4>
            <p>Folosim cookie-uri și alte tehnologii pentru a îmbunătăți experiența ta de navigare pe website-ul
                nostru, pentru a analiza traficul de pe website-ul nostru și
                pentru a înțelege de unde vin vizitatorii noștri.</p>
            <p>
                În cazul în care alegeți să continuați să utilizați website-ul nostru, sunteți de acord cu <a
                    href="/termeni-si-conditii">termenii și condtițiile</a> noastre.
            </p>
        </div>
        <button class="action-button">Sunt de acord</button>
    </div>
</div>