<footer>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "address":{
                "@type": "PostalAddress",
                "addressLocality":"Bucuresti",
                "addressCountry":"Romania",
                "telephone":"+40767676712",
                "email":"boxedepozitare@gmail.com"
            },
            "description":"Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase.",
            "sameAs":"https://www.facebook.com/boxedepozitare/",
            "url":"https://www.boxe-depozitare.ro/",
            "name":"boxe-depozitare.ro",
            "logo":"https://boxe-depozitare.ro/images/logo.webp",
            "image":"https://boxe-depozitare.ro/images/search.webp",
            "priceRange":"$$"
        }
    </script>

    <div class="contact">

        <div class="phone">
            <div>
                <p class="primary">(+40) 76 76 76 712</p>
            </div>
            <a href="tel:+40767676712" title="Sună"><button class="action-button">Sună</button></a>
        </div>

        <div class="social-media">
            <a href="https://m.facebook.com/boxedepozitare/" title="Facebook boxe-depozitare.ro" aria-label="Facebook boxe-depozitare.ro">
                <div class="social facebook"><span class="icon-facebook"></div></span>
            </a>
        </div>

        <a href="mailto:boxedepozitare@gmail.com" title="Scrie un email">
            <div class="email">
                <span class="icon-mail_footer"></span>
                <div>
                    <p>Ne puteti scrie la</p>
                    <p>boxedepozitare@gmail.com</p>
                </div>
            </div>
        </a>
    </div>


    <div class="info">

        <div class="meniu">
            <h4>Meniu</h4>
            <ul>
                <li><a href="/preturi" title="Prețuri">Prețuri</a></li>
                <li><a href="/galerie" title="">Galerie</a></li>
                <li><a href="/sfaturi" title="Sfaturi și sugestii">Sfaturi și sugestii</a></li>
                <li><a href="/mutari" title="Mutări">Mutări</a></li>
                <li><a href="/contact" title="Contact">Contact</a></li>
            </ul>
        </div>


        <div class="date-companie">
            <h4>Date companie</h4>
            <ul>
                <li>Smart Storage SRL</li>
                <li>
                    <div>
                        Sediu: Bucuresti, sector 6,
                    </div>
                    <div>Strada Oboga nr 15</div>
                </li>
                <li>
                    J40/10489/27.06.2017
                </li>
                <li>
                    CUI: RO37840520
                </li>
                <li>
                    <div>
                        BAN: RO10BTRLRONCRT0403615701
                    </div>
                    <div>
                        Banca Transilvania
                    </div>
                </li>
            </ul>
        </div>

        <div class="locatii">
            <h4>Locatii depozitare</h4>
            <p>
                <span>Hala 1,2,3,4</span>
                Str. Oboga, nr. 15 , Sector 6, Bucuresti
            </p>
            <p>
                <span>Birou, hala 5, hala 6</span>
                Bd. Timisoara, Nr. 104E, (lângă CET VEST), Sector 6, Bucuresti
            </p>
            <p>
                <span>Waze: </span>
                <div>
                    <a href="https://www.waze.com/ul?q=Depozitare+Ieftina" title="Waze Depozitare Ieftină">Depozitare Ieftină</a>
                </div>
                <div>
                    <a href="https://www.waze.com/ul?q=SaveMob" title="Waze SaveMob">SaveMob</a>
                </div>
            </p>
        </div>

        <div class="date-contact">
            <h4>Date de contact</h4>
            <div class="phone">
                <a href="tel:+40767676712" title="Sună">
                    <p>
                        0767676712 Ing. Mihai Save - Administrator
                    </p>
                </a>
            </div>
            <div class="phone">
                <a href="tel:+40721332618" title="Sună">
                    <p>
                        0721332618 Ing. Doru Iamandi - Director adjunct
                    </p>
                </a>
            </div>
            <div class="email">
                <a href="mailto:boxedepozitare@gmail.com" title="Scrie-ne un email">
                    <p>
                        boxedepozitare@gmail.com
                    </p>
                </a>
            </div>


        </div>
    </div>

    <div class="other">
        <img src="/images/logo_footer_gray.webp" width="153.344" height="48" alt="Logoul Boxe-Depozitare.ro">
        <div>
            <p>© 2020 Boxe Depozitare. Toate drepturile rezervate.</p>
            <p>Realizat de Skyline Studio Design.</p>
        </div>
        <div>
            <h4><a href="/termeni-si-conditii" title="Termeni si conditii">Termeni si conditii</a></h4>
            <p>Web developement: <a href="https://github.com/VMo24" title="Developer repository">www.github.com/VMo24</a></p>
        </div>
    </div>

</footer>