<nav>
    <div id="head">
        <div id="hamburger-icon" onclick="hamburgerClick()">
            <div>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <a href="/" aria-label="Intoarce-te la pagina principala">
            <div id="logo"></div>
        </a>
        <a href="tel:+40767676712" aria-label="Apeleaza boxe-depozitare.ro">
            <div id="phone">
                <span class="icon-phone"></span>
            </div>
        </a>
    </div>

    <div id="mid"></div>

    <div id="tail">

        <a href="/preturi">Prețuri</a>
        <a href="/galerie">Galerie</a>
        <div class="dropdown">
            <div class="mergeLines">
            <a href="/sfaturi">Sfaturi și sugestii</a>
            <span class="icon-bleach flip" onclick='toggleDropdown()'></span>
        </div>
            <div class="dropdown-content">
                <a href="/spatii-de-depozitare-de-inchiriat-in-bucuresti-sector-6">Spatii de Depozitare</a>
                <a href="/inchiriere-spatiu-de-depozitare-si-boxe-de-inchiriat">Inchiriere spatiu de depozitare</a>
                <a href="/boxa-depozitare-de-inchiriat-in-bucuresti">Boxa depozitare de inchiriat</a>
              </div>
        </div>
        <a href="/mutari">Mutari</a>
        <a href="/contact">Contact</a>
        <div class="hline">
        </div>
        <a href="tel:+40767676712">(+40) 76 76 76 712</a>
        <a href="tel:+40721332618">(+40) 72 13 32 618</a>
    </div>

</nav>

<!--
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div>
-->