<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase.">
    <title>Boxe-Depozitare.ro</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168214669-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168214669-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WN4H59X');</script>
    <!-- End Google Tag Manager -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KP1FYSNRL7');
    </script>

    <meta property="og:url" content="https://www.boxe-depozitare.ro/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="350x Boxe Depozitare de diferinte dimensiuni aflate in interiorul halelor" />
    <meta property="og:description"
        content="Căutați un loc unde să vă păstrați lucrurile pentru o vreme? Sau căutați o soluție de depozitare permanentă? BoxeDepozitare.ro va ofera contracte de inchiriere pe termen lung sau permanent, la preturi avantajoase. " />
    <meta property="og:image" content="https://www.boxe-depozitare.ro/images/facebook-preview.jpg" />
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:site_name" content="boxe-depozitare" />

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "boxe-depozitare.ro",
            "item": "https://www.boxe-depozitare.ro/"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "mutari",
            "item": "https://www.boxe-depozitare.ro/mutari"
          }]
        }
    </script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://www.boxe-depozitare.ro/mutari" rel="canonical" />

    <link rel="preload" href="/fonts/AvenirNextLTPro-Regular.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-It.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Demi Bold.otf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/AvenirNextLTPro-Medium.otf" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="/icons/icons26042021.css">
    <link rel="stylesheet" href="/mobile/stylesheets/partials-25042021.css">
    <link rel="stylesheet" href="/mobile/stylesheets/mutari-12042021.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN4H59X" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%-include('partials/navbar')%>
        <%-include('partials/cookie')%>
            <%-include('partials/formConfirm.ejs')%>

                <main>
                    <section id="map" class="white">
                        <div>
                            <a href="/">Acasa</a>
                            <span class="icon-arrow"></span>
                            <p>Mutari</p>
                        </div>
                    </section>

                    <section id="one">
                        <div class="container">
                            <h1>Te muti?
                                <p>Fa-o sigur si la pretul corect! Suntem pe piata din 1993</p>
                            </h1>
                        </div>
                        <img src="/images/Box_Van_back.webp" id="truck-right" alt="Imagine cu un camion pentru mutat">
                    </section>

                    <section id="two">
                        <p><span class="highlight">BoxeDepozitare.ro</span> iti ofera servicii profesionale mutari
                            mobila
                            Bucuresti la preturi excelente,
                            pentru ca tu sa te poti bucura de momente de liniste impreuna cu cei dragi. Acasa inseamna
                            familia
                            si bunurile personale la care tii atat de mult. Iar daca te muti intr-o noua locuinta, cu
                            siguranta
                            ai nevoie de ajutor. Noi, cei de la BoxeDepozitare.ro stim asta si dorim sa lasi munca grea
                            pe
                            umerii nostri, la propriu.</p>
                        <p>Procesul de mutare este un lucru destul de neplacut si incomod iar mobila
                            sau alte obiecte personale se pot deteriora. De aceea este nevoie de o firma specializata
                            care sa se
                            ocupe de mutare mobila si sa faciliteze relocarea in cele mai bune conditii.</p>
                        <a href="https://api.whatsapp.com/send?phone=+40767676712"><button
                                class="action-button">Contactează-ne</button></a>
                    </section>

                    <section id="three">
                        <h2>De ce sa ne alegi pe noi</h2>
                        <p>Ia legatura cu noi si spune-ne de ce ai nevoie si cum doresti sa se realizeze mutarea, iar
                            noi iti
                            vom face o estimare gratuita bazata pe cerintele tale. Avem o experienta vasta in domeniul
                            mutarii
                            mobilei si vom face tot posibilul ca serviciul oferit de noi, sa se preteze atent la
                            cerintele tale
                            specifice.</p>
                        <p>Mutarea firmei si a birourilor va da batai de cap? Necesita mult timp si are drept rezultat
                            stagnarea
                            activitatilor zilnice? Gata! Puteti uita de aceste probleme! Firma noastra va prelua aceasta
                            responsabilitate, propunandu-va astfel un plan de actiune care va facilita procesul de
                            mutare. Nu va
                            fi nevoie sa intrerupeti activitatea zilnica, lucru care ar duce la pierderi in cadrul
                            firmei. Ne
                            vom plia pe programul clientilor nostri astfel incat acest lucru sa nu va afecteze programul
                            de
                            lucru.</p>
                        <p><span class="highlight">BoxeDepozitare.ro</span>, prin serviciile sale de mutari mobilier si
                            relocari
                            va garanteaza ca mutarea
                            biroului si a firmei se va desfasura in cele mai bune conditii iar activitatile firmei nu
                            vor avea
                            de suferit. Mobila si celelalte obiecte din sediu vor fi mutate in conditii de siguranta.
                            Contactati-ne si va stam la dispozitie cu oferte personalizate, care sa se plieze pe
                            cerintele
                            dumneavoastra.</p>
                    </section>

                    <section id="four">
                        <div class="list">

                            <div class="item"><span class="icon-one"></span>
                                <p>Am efectuat peste 15.000 de mutari, din care 10% in conditii speciale</p>
                            </div>

                            <div class="item"><span class="icon-two"></span>
                                <p>Administram cel mai mare atelier de reconditionare/restaurare mobilier vechi:
                                    <a href="https://www.savemob.ro/">www.savemob.ro</a>
                                </p>
                            </div>

                            <div class="item"><span class="icon-three"></span>
                                <p>Avem echipe de transport flexibile (de la 2 la 50 de angajati)</p>
                            </div>

                            <div class="item"><span class="icon-four"></span>
                                <p>Oferim servicii de depozitare in boxe special amenajate pt siguranta dvs. : <a
                                        href="https://www.boxe-depozitare.ro/">www.depozitare-ieftina.ro</a></p>
                            </div>

                            <div class="item"><span class="icon-gfive"></span>
                                <p>Suntem autorizati sa transportam obiecte din Patrimoniu Cultural</p>
                            </div>

                            <div class="item"><span class="icon-six"></span>
                                <p>Suntem printre primele firme de profil infiintate</p>
                            </div>

                        </div>

                        <div id="car-animation">

                            <div id="moveable-car"></div>

                            <div class="lines">
                                <div class="hide">
                                    <div class="active"></div>
                                </div>
                                <div class="disabled"></div>
                            </div>
                        </div>

                    </section>

                    <section id="five">
                        <h3>Servicii complete</h3>

                        <div id="mini-gallery">

                            <div class="item">
                                <div class="image">
                                </div>
                                <h4>Demontare</h4>
                                <p>Demontarea profesionala a mobilierului pentru a fi cat mai usor de transportat si
                                    montat in
                                    noua locatie</p>
                            </div>

                            <div class="item">
                                <div class="image">
                                </div>
                                <h4>Ambalare/ protejare</h4>
                                <p>Ambalarea mobilierului în folie stretch, folie cu bule de aer, carton sau paturi
                                    speciale
                                    pentru protectie, la cererea clientului</p>
                            </div>

                            <div class="item">
                                <div class="image">
                                </div>
                                <h4>Incarcare</h4>
                                <p>Incarcarea mobilierului si ancorarea in autoutilitara a acestuia in conditii de
                                    siguranta pe
                                    perioada transportului.</p>
                            </div>

                            <div class="item">
                                <div class="image">
                                </div>

                                <h4>Transport</h4>
                                <p>Pentru transport folosim autoutilitare mari, de volum 23mc. Sunt modele noi si bine
                                    intretinute care circula cu grija pentru a proteja bunurile dvs.</p>
                            </div>

                            <div class="item">
                                <div class="image">
                                </div>
                                <h4>Descarcare</h4>
                                <p>Plasarea mobilierului pe pozitia dorita de dvs.</p>
                            </div>

                            <div class="item">
                                <div class="image">
                                </div>
                                <h4>Montare si asezare pe pozitie</h4>
                                <p>Asezarea si montarea mobilierului in zonele indicate de dvs.</p>
                            </div>

                        </div>

                    </section>

                    <section id="six">
                        <div class="container">
                            <h3>Contactează-ne</h3>
                            <p>Vrem să vă ajutăm în cel mai bun mod posibil.</p>
                            <form action="/email" method="POST">
                                <label for="mutari_nume">Nume si prenume / Name and surname</label>
                                <input required id="mutari_nume" type="text" spellcheck="false" name="nume"
                                    placeholder="Nume / Prenume">
                                <label for="mutari_tel">Telefon / Phone number</label>
                                <input required id="mutari_tel" type="tel" spellcheck="false" name="telefon"
                                    placeholder="Telefon">
                                <label for="mutari_email">Email</label>
                                <input required id="mutari_email" type="email" spellcheck="false" name="email"
                                    placeholder="Email">
                                <button class="action-button">Trimite Comanda</button>
                            </form>
                        </div>
                    </section>

                </main>

                <%-include('partials/footer')%>

                    <script src="/mobile/scripts/partials-25042021.js"></script>
</body>

</html>