<nav>
    <div class="container">
        <img src="/images/logo.webp" width="179" height="56" alt="Logo-ul website-ului boxe-depozitare.ro"
            onclick="window.location.href = '/'">
        <ul class="vertical-center">
            <li><a href="/preturi">Prețuri</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li>
                <div class="dropdown">
                    <a href="/sfaturi">Sfaturi și sugestii</a>
                    <div class="dropdown-content">
                        <a href="/spatii-de-depozitare-de-inchiriat-in-bucuresti-sector-6">Spatii de Depozitare</a>
                        <a href="/inchiriere-spatiu-de-depozitare-si-boxe-de-inchiriat">Inchiriere spatiu de depozitare</a>
                        <a href="/boxa-depozitare-de-inchiriat-in-bucuresti">Boxa depozitare de inchiriat</a>
                    </div>
                </div>
            </li>
            <li><a href="/mutari">Mutări</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div id="phone">
            <div>
                <a href="tel:+40767676712">
                    <p>
                        (+40) 76 76 76 712
                    </p>
                </a>
                <!--
                <a href="tel:+40721332618">
                    <p>
                        (+40) 72 13 32 618
                    </p>
                </a>-->
            </div>

            <div>
                <a href="tel:+40767676712" aria-label="Suna la boxe-depozitare.ro">
                    <span class="icon-phone"></span>
                </a>
            </div>

        </div>
    </div>
</nav>