<nav>
	<div class="container">
		<img src="/images/logo.webp" width="179" height="56" alt="Logo-ul website-ului boxe-depozitare.ro" onclick="window.location.href = '/'" />
		<ul class="vertical-center">
			<li><a href="/preturi" title="Prețuri">Prețuri</a></li>
			<li><a href="/galerie" title="Galerie">Galerie</a></li>
			<li>
				<div class="dropdown">
					<a href="/sfaturi" title="Sfaturi și sugestii">Sfaturi și sugestii</a>
					<div class="dropdown-content">
						<a href="/spatii-de-depozitare-de-inchiriat-in-bucuresti-sector-6" title="Spatii de Depozitare">Spatii de Depozitare</a>
						<a href="/inchiriere-spatiu-de-depozitare-si-boxe-de-inchiriat" title="Inchiriere spatiu de depozitare">Inchiriere spatiu de depozitare</a>
						<a href="/boxa-depozitare-de-inchiriat-in-bucuresti" title="Boxa depozitare de inchiriat">Boxa depozitare de inchiriat</a>
					</div>
				</div>
			</li>
			<li><a href="/mutari" title="Mutări">Mutări</a></li>
			<li><a href="/contact" title="Contact">Contact</a></li>
		</ul>
		<div id="phone">
			<div>
				<a href="tel:+40767676712" title="Sună">
					<p> (+40) 76 76 76 712 </p>
				</a>
				<!--
                <a href="tel:+40721332618">
                    <p>
                        (+40) 72 13 32 618
                    </p>
                </a>-->
			</div>

			<div>
				<a href="tel:+40767676712" title="Sună" aria-label="Suna la boxe-depozitare.ro">
					<span class="icon-phone"></span>
				</a>
			</div>
		</div>
	</div>
</nav>
